<html >
    <head>
            <link rel="stylesheet" type="text/css" href="../assets/clientes.scss">
    </head>
    <body>
            <div class="jumbotron text-center fondo2">
                <h1>Editar Clientes</h1>
                    <p>Ruby on Rails</p> 
            </div>
           
                    <%= render 'form', cliente: @cliente %>
            

            <div class="btn-group btnShow">
                <%= link_to 'Mostrar', @cliente , class: 'btn btn-success .btn-lg'%> 
                <%= link_to 'Regresar', clientes_path , class: 'btn btn-success .btn-lg'%>
            </div>
    </body>
<html>
